/*ETIQUETAS PRINCIPALES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #426696;
  font-weight: 600;
  font-size: 3rem;
  opacity: 0.8;
}

h2{
  color: #000;
  font-weight: 500;
  opacity: 0.8;
}

p, li {
  color: rgb(68, 68, 68);
  font-weight: 500;
  opacity: 0.8;
}

h3 {
  color: #426696;
  font-weight: 600;
  opacity: 0.8;
}

/*IMAGEN BACKGROUND*/
main {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: linear-gradient(to left, #00b4db, #0083b0);
  /* background-image: url(../img/back.jpg); */
  display: flex;
  align-items: center;
  justify-content: center;
}

/*VENTANA GLASS*/
.glass {
  background: white;
  min-height: 80vh;
  width: 70%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;
}

/*CIRCULOS BACKGROUND*/
.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 5%;
  right: 5%;
}
.circle2 {
  bottom: 5%;
  left: 10%;
}

/*DASHBOARD*/
.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  padding: 3%;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
}


/*PERFIL*/
.user {
  padding-bottom: 1rem;
}

/*DATOS*/
.pro {
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 0.4rem;
  margin: 0.3rem 0rem;
  padding: 0.32rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  justify-content: space-between;
  text-align: left;
}


.pro h2 {
  width: 40%;
  color:#576f91;
  font-weight: 600;
}

/* RESUMEN */
.status {
  margin-bottom: 1rem;
}

.games {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}

.games {
  flex: 2;
}

/*CARDS DE CONOCIMIENTOS*/

.prop {
  color:#007ca5;
}

.card {
  display: flex;
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 0.4rem;
  margin: 0.3rem 0rem;
  padding: 0.32rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  justify-content: space-between;
}

.cards{
  width: 100%;
}

.progress {
  background: linear-gradient(to right top, #00b4db, #009bcf);
  width: 100%;
  height: 7px;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

.progress::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(236, 236, 236);
  position: absolute;
  left: 60%;
}
.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.percentage {
  font-weight: bold;
  background: linear-gradient(to right top, #00b4db, #009bcf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*BOTON PARA DESCARGAR PDF*/
.download {    
  font-family: verdana, arial, sans-serif;
  font-size: 10pt;
  font-weight: bold;
  border-radius: 1rem;
  padding: 15px;
  background: linear-gradient(to right top, #00b4db, #009bcf);
  color: #576f91;
  text-decoration: none;
  margin-bottom: 1rem;
  width: 100%;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
}

/*QUITAR BARRAS BAJAS A LOS ANCLAS*/
.anclas {
  text-decoration: none;
}

/*SELECION DE TEXTO DE OTRO COLOR*/
.img::selection, .download::selection, p::selection, body::selection, h1::selection, h2::selection, h3::selection, li::selection, b::selection, br::selection {
  background: #6cdbeb;
  color: #000;
}

/*OCULTAR BARRAS*/
body::-webkit-scrollbar {
  display: none;
}


/* HOVER */
.download:hover{
  background: linear-gradient(to right top,  #00d0ff, #00bfff);
}

.hover-p:hover{
  color: #000;
}

/*MEDIA QUERY*/
@media (max-width: 1065px){
  
  main {
    padding-top:1rem;
    padding-bottom: 1rem;
    align-items: center;
    justify-content: center;
  }

  .glass {
    min-height: 200vh;
    z-index: 1;
    backdrop-filter: blur(2rem);
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin: 1.5%;
    width: 100%;
  }

  .dashboard {
    padding: 4%;
  }
}