
.galeria {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0px 0px 20px;
}

.columna {
    flex: 24%;
    max-width: 24%;
    padding: 0 4px;
}

.columna img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    filter: grayscale(100);
    transition: all .3s ease;
}

.columna img:hover{
    cursor: pointer;
    filter: grayscale(0%);
    box-shadow: 0 0 10px rgb(0, 0, .5);
    transform: scale(1.025);
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, .5);
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .7s ease;
    visibility: hidden;
    opacity: 0;
}

.overlay .slideshow {
    width: 90%;
    height: 90%;
    background-color: rgba(255, 255, 255, .9);
    color: #000;
    position: relative;
    display: flex;
    justify-content: center;
}

.slideshow img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.btn_cerrar {
    position: absolute;
    top: -15px;
    right: -15px;
    font-size: 35px;
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    transition: all .2s ease;
}

.btn_cerrar:hover {
    transform: scale(1.2);
    cursor: pointer;
}

@media screen and (max-width: 1440px) {
    .columna {
        flex: 32%;
        max-width: 32%;
    }

    .slideshow img {
        width: 98%;
    }
}

@media screen and (max-width: 950px) {
    .columna {
        flex: 40%;
        max-width: 50%;
    }

    .slideshow img {
        width: 98%;
    }
}

@media screen and (max-width: 600px) {
    .columna {
        flex: 100%;
        max-width: 100%;
    }
}